
.diagonal-lines {
    width: 50%;
    height: 100vh;
    position: relative;
    overflow: hidden;
  }

  .diagonal-lines::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 200%;
    height: 200%;
    background: repeating-linear-gradient(-45deg, #dddddd, #dddddd 10px, #ffffff 10px, #ffffff 20px); 
    transform: translateY(-50%);
  }

  .content {
    position: relative;
    z-index: 1;
    text-align: center;
    padding:0 50%;
    color: #333;
  }

  @media screen and (max-width: 900px) {
    .content {
      position: relative;
      z-index: 1;
      text-align: center;
      padding:0 50%;
      color: #333;
    }
    .diagonal-lines {
      width: 100%;
      height: auto;
      position: relative;
      overflow: hidden;
    }
  }
  @media screen and (max-width: 500px) {
    .content {
      position: relative;
      z-index: 1;
      text-align: center;
      padding:0 0;
      color: #333;
    }
    .diagonal-lines {
      width: 100%;
      height: auto;
      position: relative;
      overflow: hidden;
    }
  }